[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "*"
paramiko = "*"
mecab-python3 = "*"
flask = "==1.1.1"
discord = "*"
numpy = "*"
uwsgi = "==2.0.18"

[requires]
python_version = "3.7"
